<footer class="w-100 bg-primary-light p-4 mt-0" style="box-shadow: 0 -10px 20px rgb(0 0 0 / 15%)">
    {#  load bootstrap_icons #}
    {% load static %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-2 text-center mb-4 mb-lg-0">
          <img class="" src="#" alt="logo" width="150px">
        </div>

        <div class="col-12 col-md-6 col-lg-5 text-secondary">
          <ul class="list-unstyled h6 d-flex justify-content-center flex-column h-100">
            <li>© COPYRIGHT ©2022 CAMPANELLA STUDIOS. ALL RIGHTS RESERVED.</li>
            <li>Made in 
              <a target="blank" class="text-decoration-none text-black fw-semibold" href="https://www.djangoproject.com/">
              <span class="underline-hover text-secondary-light">Django</span>
            </a>
          </li>
            <li>By
              <a target="blank" class="text-decoration-none text-black fw-semibold" href="https://twitter.com/atlantox7">
                <span class="underline-hover text-secondary-light">Atlantox</span>
              </a>
            <!--- and <a href=""><span class="underline-hover">Other person</span></a> -->
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-3 ps-0 my-5 my-md-0 p-0  text-center text-secondary">
          <h4 class="h4 m-0 p-0">Contáctanos</h4>
          <ul class="list-unstyled row w-100 p-0 m-0 my-2">
            <li class="col px-1 w-100">
              <a class="w-100" target="blank" href="https://www.facebook.com/Campanellastudios">
                <img class="w-50" src="#" alt="facebook">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="blank" href="https://www.youtube.com/channel/UC1cqElIQ3OCedNJOd41QUXA">
                <img class="w-50" src="#" alt="youtube">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="blank" href="https://twitter.com/CampVStudios">
                <img class="w-50" src="#" alt="twitter">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="blank" href="https://www.instagram.com/campanellastudios/">
                <img class="w-50" src="#" alt="instagram">
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-lg-2 d-none d-lg-flex text-end">
          <ul class="list-unstyled h6 w-100">
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="#">
                <span class="underline-hover text-secondary">Inicio</span>
              </a>
            </li>
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="#">
                <span class="underline-hover text-secondary">Juegos</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </footer>