{% extends 'WebApp/common/base.html' %}
{% block title %} Galería {% endblock %}
{% block subtitle %} Mi galería {% endblock %}

{% block content %}
    <div class="container-fluid py-4 gradient-p-d-l text-secondary">
        <div class="row w-100 p-0 justify-content-center m-0">
            <!-- Wide images-->
            {% for img in wide_images %}
            <article class="col-12 col-lg-6 row p-3 p-md-5 justify-content-center m-0">
                {% include 'GalleryApp/gallery_img.html' %}
            </article>
            {% endfor %}
        </div>


        <div class="row w-100 p-0 justify-content-center m-0">
            <!-- Tall images-->
            {% for img in tall_images %}
            <article class="col-12 col-md-4 col-lg-3 row p-3 p-md-5 justify-content-center m-0">
                {% include 'GalleryApp/gallery_img.html' %}
            </article>
            {% endfor %}
        </div>

    </div>
{% endblock %}