{% extends 'WebApp/common/base.html' %}
{% block title %} Home {% endblock %}
{% block subtitle %} ¿Cómo contactarnos? {% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5 align-items-center">
        <p class="col-12 fs-4 text-center">
            ¿Tienes alguna sugerencia, idea o propuesta? Compártelo con nosotros en cualquiera de 
            nuestras redes sociales.
        </p>
    </div>

    <div class="row my-5 justify-content-center p-5">

        <div class="col-12 col-md-6 p-4 p-lg-5">
            <div class="bg-dark row rounded p-3 shadowed my-2 my-lg-0">
                <a class="d-flex justify-content-center align-items-center text-decoration-none" target="_blank" href="https://www.facebook.com/Campanellastudios">
                    <img style="width:12%" src="{% static 'WebApp/icons/facebook.svg' %}" alt="facebook">
                    <span class="fs-2 underline-hover text-black text-break">&nbsp; CampanellaStudios</span>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 p-4 p-lg-5">
            <div class="bg-dark row rounded p-3 shadowed my-2 my-lg-0">
                <a class="d-flex justify-content-center align-items-center text-decoration-none" target="_blank" href="https://www.instagram.com/campanellastudios/">
                    <img style="width:12%" src="{% static 'WebApp/icons/instagram.svg' %}" alt="instagram">
                    <span class="fs-2 underline-hover text-black text-break">&nbsp; campanellastudios</span>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 p-4 p-lg-5">
            <div class="bg-dark row rounded p-3 shadowed my-2 my-lg-0">
                <a class="d-flex justify-content-center align-items-center text-decoration-none" target="_blank" href="https://twitter.com/CampVStudios">
                    <img style="width:12%" src="{% static 'WebApp/icons/twitter.svg' %}" alt="twitter">
                    <span class="fs-2 underline-hover text-black text-break">&nbsp; @CampVStudios</span>
              </a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-4 p-lg-5">
            <div class="bg-dark row rounded p-3 shadowed my-2 my-lg-0">
                <a class="d-flex justify-content-center align-items-center text-decoration-none" target="_blank" href="https://www.youtube.com/channel/UC1cqElIQ3OCedNJOd41QUXA">
                    <img style="width:12%" src="{% static 'WebApp/icons/youtube.svg' %}" alt="youtube">
                    <span class="fs-2 underline-hover text-black text-break">&nbsp; Campanella Studios</span>
              </a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-4 p-lg-5">
            <div class="bg-dark row rounded p-3 shadowed my-2 my-lg-0">
                <div class="d-flex justify-content-center align-items-center text-decoration-none">
                    <span class="fs-2 underline-hover text-black text-break">CampanellaStudios@gmail.com</span>
                </div>
            </div>
        </div>
        
        
          
        
          
        
          
    </div>
</div>

{% endblock %}