{% extends 'WebApp/common/base.html' %}
{% block title %} Contacto {% endblock %}
{% block subtitle %} Contáctame {% endblock %}

{% load static %}

{% block content %}
    {% load static %}
    <div class="container-fluid gradient-p-d-l text-secondary">
        <div class="row w-100 m-0 justify-content-center text-center">
            <p class="fs-1 text-shadow-h">
                ¿Te interesa lo que hago?, ¿Tienes alguna propuesta, idea o pregunta para decirme? No dudes en contactarme, 
                estaré esperando tu mensaje en:
            </p>
        </div>

        <div class="row w-100 m-0 justify-content-center">
            <div class="col-12 row m-0 justify-content-center">

                <article class="col-10 col-lg-3 row m-0 p-3 justify-content-center pb-5">
                    <div class="row col-12 m-0 bg-secondary-light contact-container shadow-deep justify-content-center pb-5 pt-4">
                        <a class="col-9 col-lg-12" href="https://www.youtube.com/user/atlantox">
                            <figure class="w-100 text-center">
                                <img class="w-75" src="{% static 'WebApp/icons/youtube.svg' %}" alt="youtube">
                            </figure>
                        </a>
                        <div class="col-12 text-center fs-1 text-primary-light text-shadow-x">
                            Atlantox
                        </div>
                    </div>
                </article>

                <article class="col-10 col-lg-3 row m-0 p-3 justify-content-center pb-5">
                    <div class="row col-12 m-0 bg-secondary-light contact-container shadow-deep justify-content-center pb-5 pt-4">
                        <a class="col-9 col-lg-12" href="https://github.com/Atlantox">
                            <figure class="w-100 text-center">
                                <img class="w-75" src="{% static 'WebApp/icons/github.svg' %}" alt="github">
                            </figure>
                        </a>
                        <div class="col-12 text-center fs-1 text-primary-light text-shadow-x">
                            Atlantox
                        </div>
                    </div>
                </article>

                <article class="col-10 col-lg-3 row m-0 p-3 justify-content-center pb-5">
                    <div class="row col-12 m-0 bg-secondary-light contact-container shadow-deep justify-content-center pb-5 pt-4">
                        <a class="col-9 col-lg-12" href="https://twitter.com/atlantox7">
                            <figure class="w-100 text-center">
                                <img class="w-75" src="{% static 'WebApp/icons/twitter.svg' %}" alt="twitter">
                            </figure>
                        </a>
                        <div class="col-12 text-center fs-1 text-primary-light text-shadow-x">
                            @Atlantox7
                        </div>
                    </div>
                </article>

                <article class="col-10 col-lg-3 row m-0 p-3 justify-content-center pb-5">
                    <div class="row col-12 m-0 bg-secondary-light contact-container shadow-deep justify-content-center pb-5 pt-4">
                        <figure class="col-9 col-lg-12 text-center">
                            <img class="w-75" src="{% static 'WebApp/icons/mailbox.svg' %}" alt="mail">
                        </figure>
                        <div class="col-12 text-center fs-1 text-primary-light text-shadow-x">
                            theatlantox7@gmail.com
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>

{% endblock %}