{% extends 'WebApp/common/base.html' %}
{% block title %} Home {% endblock %}

{% load static %}
{% block content %}

<div class="container-fluid p-0 text-center fs-2 bg-primary-light justify-content-center h-100" style="overflow:hidden;">

    <div class="row w-100 p-0 m-0 pb-5 h-auto home-hero gradient-p-l-n justify-content-center">
        <div class="row mt-3 w-100 pb-5 align-items-center m-0 p-0 justify-content-center" style="transform:rotate(-2deg) translateY(40px) scaleX(0.9);">
            
            <div class="col-12 col-lg-4 row justify-content-center align-items-center">
                <div class="w-100 m-0 p-0 home-icon">
                    <div class="w-100 pentagon bg-secondary border-0 border-bottom-5 border-secondary pb-1">
                        <img class="w-75 pentagon" src="{% static 'WebApp/img/atlantox3.png' %}" alt="">
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-8 text-secondary-light d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-shadow-h text-giant" >Soy Atlantox</h1>
                <p class="fs-1 text-shadow-n text-center">
                    Excelente programador y apasionado desarrollador de videojuegos que ama lo que hace. Mi sueño es crear historias memorables y emocionantes.
                </p>
                <span class="fst-italic fs-3 text-shadow-l">« Si puedes imaginarlo, puedes programarlo »</span>
            </div>
        </div>
    </div>


    <div class="row w-100 m-0 py-2 h-auto home-about gradient-p-n-d shadow-top top-bordered justify-content-center align-items-center">
        <div class="row w-100 justify-content-center align-items-center py-5" style="transform:rotate(-2deg) scaleX(0.9);">
            <div class="col-12 col-lg-4 p-0 row justify-content-center">
                <div class="w-100 home-icon">
                    <img class="w-75 m-0 text-center" src="{% static 'WebApp/img/brain.png' %}" alt="">
                </div>
            </div>
            
            <div class="col-12 py-5 col-lg-8 text-secondary-light m-0 p-0 d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-giant m-0 text-shadow-h">Ven a conocerme</h2>
                <p class="text-secondary">
                    Porque si estás aquí, seguramente tengamos algo en común.
                </p>            
            </div>
        </div>
    </div>


    <div class="row w-100 m-0 py-5 home-projects gradient-p-d-n shadow-top top-bordered justify-content-center">
        <div class="row w-100 text-secondary-light justify-content-center pb-5 pb-md-0" style="transform:rotate(2deg) scaleX(0.9);">
            <div class="col-12 text-secondary-light">
                <h2 class="text-giant m-0 text-shadow-h">Deleitate con mis proyectos</h2>
                <p class="text-secondary">
                    Disfrútalos, sácales provecho y explora.
                </p>
            </div>

            <div class="col-12 row px-4 justify-content-center m-0">
                <article class="col-11 col-lg-4 p-4 m-0">
                    <div class="w-100 bg-secondary p-0 shadowed my-2">
                        <a class="w-100 h-auto text-decoration-none" href="#">
                            <div class="w-100 row bg-primary-light shadowed m-0 project-card p-4 shadow-inset">
                                <figure class="col-12">
                                    <img class="w-100" src="{% static 'WebApp/img/logoPC.png' %}" alt="">
                                </figure>
                                <h3 class="col-12 text-secondary-light shadow-h fs-1">
                                    Tales of Venslla
                                </h3>
                                <p class="col-12 text-secondary shadow-n fs-4">
                                    Videojuego novela visual
                                </p>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="col-11 col-lg-4 p-4 m-0">
                    <div class="w-100 bg-secondary p-0 shadowed my-2">
                        <a class="w-100 h-auto text-decoration-none" href="#">
                            <div class="w-100 row bg-primary-light shadowed m-0 project-card p-4 shadow-inset">
                                <figure class="col-12">
                                    <img class="w-100" src="{% static 'WebApp/img/logoPC.png' %}" alt="">
                                </figure>
                                <h3 class="col-12 text-secondary-light shadow-h fs-1">
                                    Tales of Venslla
                                </h3>
                                <p class="col-12 text-secondary shadow-n fs-4">
                                    Videojuego novela visual
                                </p>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="col-11 col-lg-4 p-4 m-0">
                    <div class="w-100 bg-secondary p-0 shadowed my-2">
                        <a class="w-100 h-auto text-decoration-none" href="#">
                            <div class="w-100 row bg-primary-light shadowed m-0 project-card p-4 shadow-inset">
                                <figure class="col-12">
                                    <img class="w-100" src="{% static 'WebApp/img/logoPC.png' %}" alt="">
                                </figure>
                                <h3 class="col-12 text-secondary-light shadow-h fs-1">
                                    Tales of Venslla
                                </h3>
                                <p class="col-12 text-secondary shadow-n fs-4">
                                    Videojuego novela visual
                                </p>
                            </div>
                        </a>
                    </div>
                </article>
            </div>

            <div class="col-10 col-md-6 col-lg-3 my-5 pb-5 pb-md-0">
                <a class="text-decoration-none text-primary-dark" href="#">
                    <div class="w-100 h-auto pb-5 pb-md-0">
                        <div class="w-100 bg-secondary-light angular-button text-shadow-x" style="box-shadow:inset 0 0 15px 1px black">
                            Ver más
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    
    <div class="row w-100 m-0 py-0 text-start shadow-top home-contact gradient-p-n-l justify-content-center align-items-center">
        <div class="row w-100 m-0 p-0 justify-content-center align-items-center" style="transform:scaleY(0.45);">
            <div class="col-12 col-lg-8 text-secondary-light p-0">
                <h2 class="text-giant m-0 text-shadow-h text-center text-lg-start ps-0 ps-md-3">¿Te interesa mi trabajo?</h2>
                <p class="text-secondary text-center">
                    ¿Por qué no me contactas y lo hablamos?
                </p>
            </div>
    
            <div class="col-12 col-lg-4 text-secondary-light justify-content-center align-items-center">
                <figure class="w-100 text-center">
                    <img class="w-75 contact-icon" src="{% static 'WebApp/img/deal.png' %}" alt="contacto">
                </figure>
            </div>
        </div>
    </div>
</div>


</div>

<style>
    .subtitle{
        display:none;
    }

</style>
    


{% endblock %}