{% extends 'WebApp/common/base.html' %}

{% block title %} Proyectos {% endblock %}
{% block subtitle %} Mis proyectos {% endblock %}

{% block content %}

    <div class="container-fluid bg-primary w-100 p-0 m-0 py-5">
        <div class="container-fluid bg-primary p-0 w-100 h-100 shadowed m-0 my-5">
            <div class="row text-center text-shadow-n projects-container w-100 m-0">
                <div class="col-2 m-0 p-0 pe-3 align-items-center py-2">
                    <div class="w-100 h-100 category-list-container">
                        <div class="w-100 h-100 category-list d-flex align-items-center bg-primary-light ps-1">
                            {% include 'ProjectApp/category_list.html' %}
                        </div>
                    </div>
                </div>

                <div class="col-10 row justify-content-center">

                    {% for project in projects %}
                    <article class="col-5 p-0 text-center text-secondary my-4 p-4">
                        <div class="row w-100 bg-secondary shadowed h-100 p-1">
                            <div class="row w-100 bg-primary-light project-bigcard m-0 p-4 shadow-inset justify-content-center align-items-center">
                                <figure class="col-10 text-center mt-2">
                                    <a class="m-0 p-0" href="{url 'Project' project.id}">
                                        <img class="w-100" src="{{project.img.url}}" alt="{{project.name}}">
                                    </a>
                                </figure>
                                <div class="col-10 m-0 p-0 text-shadow-l">
                                    <p class="w-100">
                                        {{project.content}}
                                    </p>
                                </div>
                                <div class="col-10 m-0 p-0">
                                    <ul class="list-unstyled d-flex justify-content-center align-items-center" class="w-100">
                                        {% for category in project.category.all %}
                                            <li class="">
                                                <a class="text-decoration-none text-secondary" href="{% url 'Category' category.id %}">
                                                    {{category}} &nbsp;
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}